<h1>Listing dailygoals</h1>
<table class="table">
  <thead>
    <tr>
      <th>Done</th>
      <th>Description</th>
      <th>Comment</th>
      <th colspan="3"></th>
    </tr>
  </thead>

   <tbody>
    <% count = 0 %>
    <% @dailygoals.each do |dailygoal| %>
     
        <tr>
          <% if dailygoal.done == true %>
            <td>Yes!!!</td>
          <% else %>
            <td>No...</td>
          <% end %>
          <% count = count +1 if dailygoal.done == true %>
          <% if dailygoal.description %>
            <td><%= link_to dailygoal.description, edit_dailygoal_path(:id => dailygoal.id) %></td>
          <% end %>
        </tr>
     
    <% end %>
  </tbody> 
</table>
<div class="progress">
  <div class="progress-bar" role="progressbar" style="width: <%= count %>%;">
    
  </div>
</div>

<br>

<%= button_to 'New Dailygoal', new_dailygoal_path(),  :method => :get %>
