<% content_for :title do %>100days<% end %>
<% content_for :description do %>100days<% end %>
<div class="page-header text-center">
   <h1>100 days </h1>
</div>
<section>
  <img src="https://unsplash.imgix.net/photo-1416339442236-8ceb164046f8?q=75&fm=jpg&s=8eb83df8a744544977722717b1ea4d09">
</section>
<section>
  <div class="column">
    <h2>Start now.</h2>
  </div>
</section>