<% content_for :title do %>100days<% end %>
<% content_for :description do %>100days<% end %>
<div class="page-header text-center">
   <h1>100 days</h1>
</div>
<section>
  <img src="https://unsplash.imgix.net/photo-1416339442236-8ceb164046f8?q=75&fm=jpg&s=8eb83df8a744544977722717b1ea4d09">
</section>
<section>
  <div class="container">
    <br><br><br>
    <h2>WHAT IS 100 DAYS?</h2>
    <p>
        If you have a self-improvement goal in mind but can't seem to find the motivation to keep it going, 100 Days is here to help!
        <br>
        Challenge yourself to do something everyday for 100 days.
        <br>
        Find encouragement through a community of users who are also here to fulfill their goals.
    </p>
    <br><br><br>
    <h2>HOW DOES IT WORK?</h2>
    <p>
        <ol>
        <li>
            <h3>Pick a goal!</h3>
            It can be as simple as<br>
            "I want to eat at least 1 vegetable everyday" or "I want to exercise for 30 minutes everyday."
        </li>
        <li>
            <h3>Come back to the site and update your progress!</h3>
            Each day, mark that you've fulfilled your goal for the day and post an update message.
        </li>
        <li>
            <h3>Leave comments for other people!</h3>
            Encourage them to continue to work towards accomplishing their own goals.
        </li>
        </ol>
    </p>
  </div>
</section>